<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.cms.dao.news.RtcNewsMapper">
  <resultMap id="BaseResultMap" type="com.rtc.cms.entity.news.RtcNews">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="preview" jdbcType="VARCHAR" property="preview" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="examination" jdbcType="INTEGER" property="examination" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uuid, author, title, source, country, preview, sequence, gmt_create, gmt_modify, 
    status, examination
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rtc_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rtc_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.cms.entity.news.RtcNews">
    insert into rtc_news (id, uuid, author, 
      title, source, country, 
      preview, sequence, gmt_create, 
      gmt_modify, status, description, examination
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{preview,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{examination,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.cms.entity.news.RtcNews">
    insert into rtc_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="preview != null">
        preview,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="examination != null">
        examination,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="preview != null">
        #{preview,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="examination != null">
        #{examination,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.cms.dto.RtcNewsDTO">
    update rtc_news
    <set>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.rtc.cms.entity.news.RtcNews">
    update rtc_news
    set uuid = #{uuid,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      preview = #{preview,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
      examination = #{examination,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectNewsList" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        rtc_news
    where
        status = ${@com.rtc.cms.util.CommonConst@STATUS_USED}
    order by id desc
  </select>

  <update id="examinateNews" parameterType="com.rtc.cms.dto.NewsOperation">
    update
        rtc_news
    set
        <choose>
            <when test="operation == 'approve'">
                examination = 1
            </when>
            <when test="operation == 'disapprove'">
                examination = 2
            </when>
            <otherwise>
                id = #{id,jdbcType=INTEGER}
            </otherwise>
        </choose>
    where
        id in
        <foreach collection="id" item="ca" open="(" close=")" separator=",">
          #{ca,jdbcType=INTEGER}
        </foreach>
        and status = ${@com.rtc.cms.util.CommonConst@STATUS_USED}
  </update>

  <update id="deleteNews" parameterType="java.lang.Integer">
    update rtc_news
    set status = ${@com.rtc.cms.util.CommonConst@STATUS_NOT_USED}
    where
        id = #{id,jdbcType=INTEGER}
        and status = ${@com.rtc.cms.util.CommonConst@STATUS_USED}
  </update>

  <resultMap id="selectNews" type="com.rtc.cms.vo.NewsDetailVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="preview" jdbcType="VARCHAR" property="preview" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="examination" jdbcType="INTEGER" property="examination" />
    <collection property="newsDetailList" ofType="com.rtc.cms.vo.RtcNewsDetailVO">
      <id column="d_id" jdbcType="INTEGER" property="id" />
      <result column="d_content" jdbcType="VARCHAR" property="content" />
    </collection>
  </resultMap>
  <select id="selectNews" resultMap="selectNews">
    SELECT
        rtc_news.id,
        rtc_news.uuid,
        rtc_news.author,
        rtc_news.title,
        rtc_news.source,
        rtc_news.country,
        rtc_news.description,
        rtc_news.preview,
        rtc_news.sequence,
        rtc_news.gmt_create,
        rtc_news.gmt_modify,
        rtc_news.examination,
        rtc_news_detail.id d_id,
        rtc_news_detail.content d_content
    FROM
        rtc_news
        LEFT JOIN rtc_news_detail ON rtc_news.uuid = rtc_news_detail.news_id
    WHERE
        rtc_news.id = #{id,jdbcType=INTEGER}
        and rtc_news.status = ${@com.rtc.cms.util.CommonConst@STATUS_USED}
        and rtc_news_detail.status = ${@com.rtc.cms.util.CommonConst@STATUS_USED}
  </select>

  <select id="selectUuid" resultType="java.lang.String">
    select
        uuid
    from
        rtc_news
    where
        rtc_news.id = #{id,jdbcType=INTEGER}
        and rtc_news.status = ${@com.rtc.cms.util.CommonConst@STATUS_USED}
  </select>

  <update id="deleteNewsDetail" parameterType="java.lang.String">
    update
        rtc_news_detail
    set
        rtc_news_detail.status = ${@com.rtc.cms.util.CommonConst@STATUS_NOT_USED}
    where
        rtc_news_detail.news_id = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>